/*header{
    background-color:rgb(220, 122, 36) !important;
}

h1{
    color: rgb(220, 122, 36)!important;
}

h3{
    color: rgb(220, 122, 36)!important;
}

label{
    color:black !important;
}

#bCG{
    background-color:rgb(220, 122, 36) !important;
    color: white !important;
}

button{
    background-color:rgb(220, 122, 36) !important;
    color: white !important;
}*/

/* *{
	margin: 0 !important;
} */

/* header{
    background-color:rgb(220, 122, 36) !important;
}

h1{
    color: rgb(220, 122, 36)!important;
}

h3{
    color: rgb(220, 122, 36)!important;
}

label{
    color:black !important;
}

button{
    background-color:rgb(220, 122, 36) !important;
    color: white !important;
}

/*QUITAR ATRAS*/

/*
form{
	width: 100%;
}

#divGen{
	width: 100% !important;
}

#divContTable{
	border: #41B83E solid 1px;
	width: 100% !important;
}

#contTable{
	border: #3e4eb8 solid 1px;
	width: 100% !important;
}

#bCG{
	font-size: 18px;
	background-color:rgb(220, 122, 36) !important;
    color: white !important;
}

#bCG:hover{
	background-color: #BBAC01;
	color: white;
}

#btnn{
	font-size: 18px;
}

#btGenera{
	background-color: #41B83E;
	color: white;
	font-size: 18px;
}

#btGenera:hover{
	background-color: #67E464;
	color: black;
}

#addService:hover,#selectService:hover,#delService:hover{
	color: #AB9521;
}

#formServ, #formDelServ{
	border: 1px solid gray;
	width: 600px !important;
	padding-right: 10px;
}

#addServiceForm, #deleteServiceForm{
	display: none;
}

#btAddService:hover{
	background-color: #AB9521;
	color: white;
}

#parent{
    width: 100% !important;
	justify-content: center !important;
	text-align: center !important;
	display: flex !important;
	margin-top: 50px !important;
}

.active{
	border: 0px solid black;
	background-color:rgb(220, 122, 36);
	color:white !important;
}

#descServ1,#descServ2,#descServ3,#descServ4,#tDesc1{
	display: none;
}

#customerDataTableNotas{
    width: 70%;
	text-align:right;
	border: 0px solid red;
}

#customerDataTableNotas input{
    width: 100% !important;
}

#customerDataTableNotas td{
    padding:10px !important;
	border: 0px solid blue;
} */