*{
	margin: 0 !important;
}

form{
	width: 100%;
}

#divGen{
	width: 100% !important;
}

#divContTable{
	border: #41B83E solid 1px;
	width: 100% !important;
}

#contTable{
	border: #3e4eb8 solid 1px;
	width: 100% !important;
}

#bCG{
	background-color: #DAC801;
	font-size: 18px;
}

#bCG:hover{
	background-color: #BBAC01;
	color: white;
}

#btnn{
	font-size: 18px;
}

#btGenera{
	background-color: #41B83E;
	color: white;
	font-size: 18px;
}

#btGenera:hover{
	background-color: #67E464;
	color: black;
}

#addService:hover,#selectService:hover,#delService:hover{
	color: #AB9521;
}

#formServ, #formDelServ{
	border: 1px solid gray;
	width: 600px !important;
	padding-right: 10px;
}

#addServiceForm, #deleteServiceForm{
	display: none;
}

#btAddService:hover{
	background-color: #AB9521;
	color: white;
}

#parent{
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	display: flex;
	margin-top: 50px !important;
}

.active{
	border: 0px solid black;
	background-color:#EDD762;
}

#descServ1,#descServ2,#descServ3,#descServ4,#tDesc1{
	display: none;
}